body {
    cursor: help;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cursor-spotlight {
    position: fixed;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0.9) 100%);
    mix-blend-mode: hard-light;   
    pointer-events: auto;
    transform: translate(-50%, -50%);
    z-index: 11;
}


.container {
    width: 120vw;
    height: 0px;
    z-index: 10;
}

#particles {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
}

#mirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 1800px;
    height: 2300px;
    background: linear-gradient(to bottom right, rgba(113,206,217,0.6), rgba(73,107,115,0.8), rgba(21,30,38,1));
    opacity: 1;
    z-index: 2;
}

#background {
    position: absolute;
    width: 1800px;
    left: 0;
    height: 2280px;
    top: 0;
    background-color: whitesmoke;
    z-index: 0;
}


.title {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 18px;
    color: #71CED9;
    text-align: center;
    opacity: 0;
    mix-blend-mode: difference;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 15;
}

.title:hover {
    mix-blend-mode: luminosity;
}

.title.active {
    opacity: 1;
    transform: translateY(0);
}

.subtitle {
    position: fixed;
    top: 57px;
    left: 12px;
    color: #F2594B;
    text-align: center;
    opacity: 0;
    mix-blend-mode: exclusion;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 15;
}

.subtitle.active {
    opacity: .9;
    transform: translateY(0);
}

.square-container {
    position: relative;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.square {
    position: relative;
    background-color: #F2594B;
}

.reflection {
    margin: 0;
    padding: 0;
    z-index: 12;
}

.interactive-text {
    z-index: 13;
}

.collage-art {
    position: absolute;
    left: 10%;
    right: 20%;
    height: auto;
    top: 150px;
    z-index: 10;
}

.collage-art img {
    position: absolute;
    height: auto;
}

#open-book {
    top: 300px;
    left: 200px;
    width: 1030px;
    z-index: 8;
}

#broken-chain {
    top: 343px;
    left: 963px;
    width: 333px;
    z-index: 10;
}

#cafe-de-flore {
    top: 50px;
    left: 700px;
    width: 595px;
    z-index: 7;
}

#eiffle-tower {
    top: -70px;
    left: 600px;
    width: 560px;
    z-index: 15;
}

#start {
    position: absolute;
    top: 380px;
    left: 1100px;
    width: 480px;
    color: #151E26;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #71CED9;
    padding-left: 10px;
    border-left: 30px solid #F2594B;
    mix-blend-mode: hard-light;
    z-index: 14;
}

#essence {
    cursor: pointer;
    color: gold;
    font-size: 32px;
    text-shadow: 1px 1px 1px #151E26;
    transition: font-size 1s ease-in-out;
}

#essence:hover {
    font-size: 110px;
    color: #F2594B;
}

#sunlight {
    top: 72px;
    left: 695px;
    width: 600px;
    transform: scaleX(-1);
    z-index: 8;
}

#tree-and-sunlight {
    top: -20px;
    left: 160px;
    width: 646px;
    z-index: 12;
}

#walkingman-1 {
    top: 195px;
    left: 410px;
    width: 250px;
    z-index: 13;
}

#walkingman-2 {
    top: 80px;
    left: 320px;
    width: 320px;
    transform: scaleX(-1);
    z-index: 11;
}

#wall-clock {
    top: 270px;
    left: 560px;
    width: 340px;
    z-index: 15;
}

#time {
    position: absolute;
    cursor: pointer;
    top: 630px;
    left: 170px;
    width: 640px;
    color: #F2594B;
    font-size: 40px;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: whitesmoke;
    padding: 6px;
    border-right: 23px solid #496B73;
    z-index: 23;
    mix-blend-mode: hard-light;
}

#cloud {
    top: -60px;
    left: 480px;
    width: 800px;
    z-index: 16;
}

#earth-rotate {
    top: 0px;
    left: 100px;
    width: 570px;
    z-index: 6;
}

#location-pin {
    top: -10px;
    left: 350px;
    width: 65px;
    mix-blend-mode: multiply;
    z-index: 7;
}

#location {
    position: absolute;
    cursor: pointer;
    top: 200px;
    left: 27.5vw;
    font-size: 19px;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1.2px 2.3px 1px #151E26;
    text-align: center;
    z-index: 15;
}

.mirrored-collage-art {
    position: absolute;
    left: 10vw;
    right: 10vw;
    width: 80vw;
    height: 100vh;
    top:1000px;
    transform: scaleY(-1);
    z-index: 1;
}

.mirrored-collage-art img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: auto;
}

#mirrored-open-book {
    bottom: -343px;
    left: 200px;
    width: 1030px;
    z-index: 8;
}

#mirrored-broken-chain {
    bottom: -72px;
    left: 963px;
    width: 333px;
    z-index: 10;
}

#mirrored-cafe-de-flore {
    bottom: -230px;
    left: 700px;
    width: 595px;
    z-index: 7;
}

#mirrored-eiffle-tower {
    bottom: -75px;
    left: 600px;
    width: 560px;
    z-index: 10;
}

#mirrored-sunlight {
    bottom: -257px;
    left: 695px;
    width: 600px;
    transform: scaleX(-1);
    z-index: 8;
}

#mirrored-tree-and-sunlight {
    bottom: -210px;
    left: 160px;
    width: 646px;
    z-index: 12;
}

#mirrored-walkingman-1 {
    bottom: -110px;
    left: 410px;
    width: 250px;
    z-index: 13;
}

#mirrored-walkingman-2 {
    bottom: -95px;
    left: 320px;
    width: 320px;
    transform: scaleX(-1);
    z-index: 11;
}

#mirrored-wall-clock {
    bottom: -195px;
    left: 560px;
    width: 340px;
    z-index: 13;
}

#mirrored-cloud {
    bottom: 140px;
    left: 480px;
    width: 800px;
    z-index: 11;
}

#mirrored-earth-rotate {
    bottom: -145px;
    left: 100px;
    width: 570px;
    z-index: 6;
}

#mirrored-location-pin {
    bottom: 370px;
    left: 350px;
    width: 65px;
    mix-blend-mode: multiply;
    z-index: 7;
}


.cityscape {
    position: absolute;
    cursor: progress;
    left: 0;
    width: 100vw;
    height: 10vh;
    top: 1028px;
    z-index: 12;
}

.cityscape img {
    position: absolute;
    height: auto;
    transition: height 2.3s ease-in-out;
}

#cityscape1 {
    top: 765px;
    left: 0;
    width: 1800px;
    mix-blend-mode: hard-light;
    opacity: .7;
    z-index: 14;
}

#cityscape2 {
    bottom: -1190px;
    left: 0;
    width: 1800px;
    height: 0%;
    mix-blend-mode: difference;
    opacity: .5;
    z-index: 13;
}

#circle {
    position: absolute;
    left:650px;
    width: 500px;
    top: 1520px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, #71CED9 0%, #496B73 60%, #151E26 80%);
    box-shadow: 0 0 50px rgba(113, 206, 217, 0.5);
    animation: floatAnimation 2s infinite ease-in-out;
    mix-blend-mode: luminosity;
    opacity: .8;
    z-index: 20;
}

#who-am-i {
    position: absolute;
    display: block;
    left: 120px;
    top: 230px;
    color: #151E26;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    z-index: 21;
}

#starting-point {
    position: absolute;
    cursor: pointer;
    display: none;
    left: 75px;
    top: 232px;
    color: #F2594B;
    font-size: 46px;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    mix-blend-mode: color-dodge;
    z-index: 21;
}

@keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust the floating height as needed */
    }
}

#video {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: auto;
    z-index: 23;
}